/* LAYOUT */

.sheduling-widget-container{
	margin: 0px -5px;
}

.sheduling-widget-input-group{
	padding: 5px;
	float: left;
	box-sizing: border-box;
}

.sheduling-widget-w-33{
	width: 33.33%;
}

.sheduling-widget-w-50{
	width: 50%;
}

.sheduling-widget-w-100{
	width: 100%;
}

.sheduling-widget--space-top{
	margin-top: 5px;
}
