.sheduling-widget{
	padding-top: 5px;
}

.sheduling-widget--item-wrapper{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

%sheduling-widget--item--shared{
	background-color: #ededed;
	padding: 10px;
	position: relative;
}

.sheduling-widget--item{
	padding-left: 15px;
	@extend %sheduling-widget--item--shared;
	&.new{
		background-color: #c7f0f9;
		color: #3e5566;
	}
}

.sheduling-widget--new-item{
	@extend %sheduling-widget--item--shared;
	margin-bottom: 15px;
}

.sheduling-widget--new-item--heading{
	font-weight: bold;
	padding-bottom: 0;
}

.sheduling-widget--item--table{
	width: 100%;
	th{
		max-width: 80px;
	}
	td, th{
		vertical-align: top;
	}
}

.sheduling-widget--add-button{
	width: 100%;
	box-sizing: border-box;

	&:before{
		position: relative;
		top: 5px;
		right: 5px;
	}
}

.sheduling-widget--item--delete-button{
	position: absolute;
	top: -10px;
	right: -10px;
	width: 10px;
	height: 10px;
	&:before{
		font-size: 15px !important;
		line-height: 1.2 !important;
		position: relative;
		right: 2px;
	}
}

.sheduling-widget--item--yesno{
	display: inline-block;
	border-radius: 25px;
	color: white;

	&.dashicons-yes{
		background-color: #63c863;
		&:before{
			position: relative;
			left: -1px;
			top: 1px;
		}
	}

	&.dashicons-no{
		background-color: #f36060;
	}
}

.sheduling-widget--heading{
	display: block;
	padding-bottom: 10px;
}
